extends layout

block content
    -data = data || {}

    if errors
        ul
            for error in errors
                li= error.msg

    div(class="row")
        div(class="col-6")
            h2 Nueva Moto
            form(action="." method="POST")

                label(for="plateid") Placa:
                input(
                type="text"
                id="plateid"
                name="plateid"
                value=data.plateid
                class="form-control"
                )

                label(for="name") Nombre:
                input(
                type="text"
                id="name"
                name="name"
                value=data.name
                class="form-control"
                )

                label(for="expiredate") Caducidad:
                input(
                type="text"
                id="expiredate"
                name="expiredate"
                value=data.expiredate
                class="form-control"
                )

                label(for="passengers") Ocupantes:
                input(
                type="text"
                id="passengers"
                name="passengers"
                value=data.passengers
                class="form-control"
                )

                input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")

        div(class="col-6")
            h2 Buscar Moto
            a(class="btn btn-lg btn-primary btn-block" href="#" onclick="initCam();") Escanear QR
            select(id="availablecams")
            video(id="preview")


            script.
                var scanner = null;

                function initCam(){
                    var opts = { video: document.getElementById('preview') };
                    var sel = document.getElementById('availablecams');
                    var selCam = sel.options[sel.selectedIndex].value;

                    if(selCam==0) {
                        opts = { video: document.getElementById('preview'), mirror: false };
                    }
                    scanner = new Instascan.Scanner( opts );
                    scanner.addListener('scan', function (content) {
                        window.location.href = '/motos/'+content;
                    });
                    Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                            scanner.start(cameras[selCam]);
                        } else {
                            console.error('No cameras found.');
                        }
                    }).catch(function (e) {
                    console.error(e);
                    });
                }

                Instascan.Camera.getCameras().then(function (cameras) {
                    var sel = document.getElementById('availablecams');
                    sel.addEventListener("change", function(){
                        if(scanner != null) {
                            scanner.stop();
                        }
                    });
                    if (cameras.length > 0) {
                        cameras.forEach(function(cam, i){
                            console.log(cam);
                            var opt = document.createElement('option');
                            opt.appendChild( document.createTextNode(cam.name) );
                            opt.value = i;
                            sel.appendChild(opt);
                        });
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function (e) {
                console.error(e);
                });
