extends layout

block content

    if motorcycles.length
        div(class="row")
            div(class="col-xs-12 col-md-6")
            table(class="table-striped")
                tr
                    th # Placa
                    th # Placa Corta
                    th Nombre
                    th Fecha de Caducidad
                    th # Pasajeros
            each motorcycle in motorcycles
                tr
                    td= motorcycle.shortid
                    td= motorcycle.plateid
                    td= motorcycle.name
                    td= motorcycle.expiredate
                    td= motorcycle.passengers
    else
        p No se encontro la motocicleta
